
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body, html {
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: black
}
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 90vw;
}
.panel {
    background-size: auto 100%;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: navajowhite;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active {
    flex: 5;
    background-color: black;
}
.panel.active h3 {
    opacity: 1;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@media (max-width: 765px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(6),
    .panel:nth-of-type(7),
    .panel:nth-of-type(8),
    .panel:nth-of-type(9),
    .panel:nth-of-type(10){
        display: none;
    }
}

p {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.popcorn{
    background-image: url("/assets/animated-popcorn.gif");
    height: 800px;
    background-size: cover;
}